<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>threeLinksServlet</servlet-name>
        <servlet-class>com.clouway.servlets.task1.ThreeLinksServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>threeLinksServlet</servlet-name>
        <url-pattern>/threeLinksServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>recognitionServlet</servlet-name>
        <servlet-class>com.clouway.servlets.task2.RecognitionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>recognitionServlet</servlet-name>
        <url-pattern>/recognitionServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>pageOneServlet</servlet-name>
        <servlet-class>com.clouway.servlets.task2.PageOneServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>pageOneServlet</servlet-name>
        <url-pattern>/pageOne</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>pageTwoServlet</servlet-name>
        <servlet-class>com.clouway.servlets.task2.PageTwoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>pageTwoServlet</servlet-name>
        <url-pattern>/pageTwo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>pageThreeServlet</servlet-name>
        <servlet-class>com.clouway.servlets.task2.PageThreeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>pageThreeServlet</servlet-name>
        <url-pattern>/pageThree</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>counterServlet</servlet-name>
        <servlet-class>com.clouway.servlets.task3.CounterServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>counterServlet</servlet-name>
        <url-pattern>/counterServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>homePageServlet</servlet-name>
        <servlet-class>com.clouway.servlets.task3.HomePageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>homePageServlet</servlet-name>
        <url-pattern>/homePage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>firstServlet</servlet-name>
        <servlet-class>com.clouway.servlets.task4.FirstServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>firstServlet</servlet-name>
        <url-pattern>/firstServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>secondServlet</servlet-name>
        <servlet-class>com.clouway.servlets.task4.SecondServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>secondServlet</servlet-name>
        <url-pattern>/secondServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>thirdServlet</servlet-name>
        <servlet-class>com.clouway.servlets.task4.ThirdServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>thirdServlet</servlet-name>
        <url-pattern>/thirdServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>fourthServlet</servlet-name>
        <servlet-class>com.clouway.servlets.task4.FourthServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>fourthServlet</servlet-name>
        <url-pattern>/fourthServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>visualizationServlet</servlet-name>
        <servlet-class>com.clouway.servlets.task4.VisualizationServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>visualizationServlet</servlet-name>
        <url-pattern>/visualizationServlet</url-pattern>
    </servlet-mapping>

</web-app>
